<%= form_for(@search) do |f| %>
    <% if @search.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@search.errors.count, "error") %> :</h2>

            <ul>
                <% @search.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= f.label :username %>
    <%= f.text_field :username %><br/>
    <%= f.label :gist_id, 'Gist ID' %>
    <%= f.text_field :gist_id %><br/>
    <%= f.label :forks, 'Display forks ?' %>
    <%= f.check_box :forks %>
    <br/><br/>
    <%= submit_tag 'Search' %>
<% end %>
